{% extends 'users/main.html' %}

{%block content%}


<div class="row">
	<div class="col-md">
		<div class="card card-body mx-auto text-center w-50 mb-2" style="background-color: rgb(230, 220, 206);">
                        <h5>Records</h5>
                </div>
		<div class="card card-body mx-auto text-center w-50" style="background-color: rgb(230, 220, 206);">
			<a class="btn btn-success  btn-sm btn-block" href="{%url 'create_rec'%}" style="background-color: rgb(65, 137, 104);">Add a Record</a>
			<table class="table">
				<tr>
				    <th>Email</th>
                    <th>Country</th>
                    <th>Disease code</th>
                    <th>Total deaths</th>
                    <th>Total patients</th>
                    <th>Edit</th>
                    <th>Delete</th>

				</tr>
                {%for record in records%}
                        <tr>
                                <td>{{record.email}}</td>
                                <td>{{record.cname}}</td>
                                <td>{{record.disease_code}}</td>
                                <td>{{record.total_deaths}}</td>
                                <td>{{record.total_patients}}</td>
                                <td><a href="{%url 'update_rec' record.email%}">Edit</a></td>
                                <td><a href="{%url 'delete_rec' record.email%}">Delete</a></td>
                                
                        </tr>
                {%endfor%}

			</table>
		</div>
	</div>

	

</div>
{%endblock%}