{% extends 'users/main.html' %}

{%block content%}


<div class="row">
	<div class="col-md">
		<div class="card card-body w-75 text-center mx-auto mb-2" style="background-color: rgb(230, 220, 206);">
                        <h5>Users</h5>
                </div>
		
		<div class="card card-body w-75 text-center mx-auto" style="background-color: rgb(230, 220, 206);">
                        
			<a class="btn btn-success  btn-sm btn-block" href="{%url 'create_user'%}" style="background-color: rgb(65, 137, 104);">Create Users</a>
			<table class="table">
				<tr>
					<th>Email</th>
                                        <th>Name</th>
					<th>Surname</th>
                                        <th>Salary</th>
                                        <th>Phone</th>
                                        <th>Country</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
					
				</tr>
                                {%for user in users%}
                                        <tr>
                                                <td>{{user.email}}</td>
                                                <td>{{user.name}}</td>
                                                <td>{{user.surname}}</td>
                                                <td>{{user.salary}}</td>
                                                <td>{{user.phone}}</td>
                                                <td>{{user.cname}}</td>
                                                <td><a href="{%url 'update_user' user.email%}">Edit</a></td>
                                                <td><a href="{%url 'delete_user' user.email%}">Delete</a></td>
                                        </tr>
                                {%endfor%}


			</table>
		</div>
	</div>

	

</div>
{%endblock%}